---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <nav>
            <a href="/">home</a>
            <a href="/about/">about</a>
            <a href="/blog/">blog</a>
        </nav>

		<h1>about</h1>
        <p>running through astro blog tutorial</p>
        <p>would like to see if i should make my portfolio site with astro, so im testing it</p>
	</body>
</html>
