---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'ryanshz'
---
<BaseLayout pageTitle={pageTitle}>
	<main class="h-screen p-5">
		<section class="card bg-base-100 shadow-xl p-5 mx-10 my-5 border border-tertiary">
			<div class="card-body">
				<h2 class="card-title">welcome to blog page</h2>
				<p class="text-lg">lot of blog things happening</p>
			</div>
		</section>
		<section class="flex">
			<section class="card bg-base-100 shadow-xl p-5 mx-10 my-5 border border-tertiary grow">
				<div class="card-body">
					<h2 class="card-title">about</h2>
				</div>
			</section>
			<section class="card bg-base-100 shadow-xl p-5 mx-10 my-5 border border-tertiary grow">
				<div class="card-body">
					<h2 class="card-title">blog</h2>
				</div>
			</section>
		</section>
	</main>
</BaseLayout>
