---

---

<nav class="navbar bg-base-100 shadow">
    <section class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-5 h-5 stroke-current"
                ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path></svg
            >
        </div>
        <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
            <li><a href="/about/">about</a></li>
            <li><a href="/blog/">blog</a></li>
        </ul>
    </section>
    <section class="flex-1">
        <a href="/" class="btn btn-ghost text-2xl font-bold">ryanshz blog</a>
    </section>
    <section class="flex-none gap-5 px-5">
        <label class="cursor-pointer grid place-items-center">
            <input
                type="checkbox"
                value="dim"
                class="toggle theme-controller bg-base-content row-start-1 col-start-1 col-span-2"
            />
            <svg
                class="col-start-1 row-start-1 stroke-base-100 fill-base-100"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><circle cx="12" cy="12" r="5"></circle><path
                    d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4"
                ></path></svg
            >
            <svg
                class="col-start-2 row-start-1 stroke-base-100 fill-base-100"
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                ></path></svg
            >
        </label>
    </section>
</nav>
