---
---
<nav class="navbar bg-black text-white px-5 py-5">
    <a href="/" class="btn btn-ghost text-xl">ryanshz-blog</a>
    <section class="inline float-right space-x-5">
        <a href="/about/">about</a>
        <a href="/blog/">blog</a>
    </section>
</nav>